@charset "utf-8";
.container {
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}


header {
    text-align: center;
    text-transform: uppercase;
    list-style-position: outside;
    padding-top: 0px;
    margin-top: -40px;
    opacity: 1;

}




nav {
    text-align: right;
    background-color: #464658;
    opacity: 1;
    visibility: visible;
    padding-top: 22px;
    padding-bottom: 29px;
    margin-top: 26px;
    position: fixed;
    width: 1440px;
    box-sizing: border-box;
    border-width: thick;
    color: #9C4143;
}

nav h1  {
    padding-left: 0px;
    position: static;
    font-size: 28px;
    color: #D3CBB4;
    opacity: 1;
    display: inline;
    font-weight: 600;
    padding-right: 680px;
    padding-bottom: 0px;
    padding-top: 17px;
}
nav a  {
    font-size: 23px;
    word-spacing: -2px;
    text-decoration: none;
    letter-spacing: 0px;
    display: inline;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    align-items: center;
    color: #D58E28;
    font-weight: 600;
}
a:hover {
    color: #FFFDCD;
    text-decoration: underline;
}
a:active {
    color: #C3B5CD;
}
a:visited {
}


main #a01  {
}
.container .bg {
    width: 1283px;
    height: 804px;
    background-color: #9A928A;
    text-align: center;
    padding-right: 155px;
    padding-left: 0px;
    margin-top: 82px;
    position: static;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: scroll;
    background-position: -6rem -36rem;
    background-image: url(12M%E7%9B%B4%E5%BC%8F%E6%B2%B9%E7%95%AB%E6%A1%86%E8%9C%82%E8%9C%9C%E7%86%8A.png);
    background-size: 108% auto;
    margin-left: 82px;
}







main {
}
article {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFBDD;
    padding-bottom: 100px;
}

article h4 {
    text-align: center;
    font-size: 17px;
}

article img  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.be   {
    padding-left: 692px;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: flex;
}

#a05 div:link {
}




.container main #a05 {
    max-height: 119px;
    margin-bottom: 80px;
}








article h2  {
    background-color: #D1D3C5;
    margin-top: 0px;
    border-radius: 7px;
    border-collapse: separate;
    border-style: none;
    border-width: thick;
    text-align: center;
    font-size: xx-large;
    min-height: 54px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    line-height: 40pt;
    position: static;
}
article h3 {
    width: 600px;
    height: 500px;
    background-color: #D3CABF;
}
#a05 p  {
    text-align: center;
    font-size: 15pt;
    border-radius: 22px;
    letter-spacing: 2px;
    margin-top: 3px;
}






footer {
    text-align: center;
    font-size: small;
    letter-spacing: 3px;
    margin-top: -50px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-left: -50px;
    right: 89px;
    left: 0px;
    bottom: 0px;
    padding-bottom: 8px;
}
